body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.post {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}
    
    p {
    color: black;
}
.top {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div {
    border-color: red;
    border-style: dashed;
}
.top-left {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.post-img {
    display: flex;
}